@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
/* css base */
*, ::after, ::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Be Vietnam Pro", sans-serif !important;
}

.container {
  margin: 0 auto
}

/* fonts */
.lato {
    font-family: "Lato", sans-serif !important;
}

.abril {
    font-family: "Abril Fatface", sans-serif !important;
}

/* animation */
.underline-animation {
  position: relative;
  cursor: pointer;
}

.underline-animation::after {
  content: "";
  background-color: white;
  border-radius: 5px;
  position: absolute;
  height: 2.5px;
  bottom: -5px;
  left: 0;
  right: 100%;
  transition: all 0.3s ease;
}

.underline-animation:hover::after {
  right: 0;
}

/* carousel */
.carousel-container {
  width: 100%;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  user-select: none;
}

